body{
    font-family: 'Nunito', sans-serif;
    background-color: #5e96c7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
        135deg,
        #9ec3e0 0%,
        #4a7fb0 50%,
        #2f5f8f 100%
    );

}


.glass-card {
    display: flex;
    width: 100%;
    max-width: 380px;

    min-height: 420px;
    max-height: 600px;

    padding: 2rem;
    border-radius: 24px;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

    color: #fff;

    display: flex;
    flex-direction: column;
}

.glass-card h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.submitButton{
    margin-top: 5%;
    text-align: center;
}

button{
    
    width: 30%;
    padding: 0.7rem;
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

input,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    transition: border-color 0.5s;
}

.form-group{
    margin-bottom: 1rem;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #393a41;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.3);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(83, 78, 78, 0.4);
}

.success-message{
    background: #d4edda;
    color: #155724;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: none;
}

.error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: none;
}